body{
  
  background-color: rgb(110, 255, 248);
}
div.box{
  height: 300px;
  width: 300px;
}
@media only screen and (max-width: 400px){
  div.box{
    height : 250px;
    width: 250px;
  }
  body{
    background-color: rgb(89, 245, 172);
  }
  
  }